* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: brown;
  }

  .calc-main {
    width: 300px;
    height: 500px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .calc-screen {
    width: 300px;
    height: 75px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
  }

  .calc-buttons {
    width: 300px;
    height: 350px;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
  }

  button {
    background-color: bisque;
  }

  #ac, #del {
    grid-column: span 2;
  }

  #main-text {
    font-size: 30px;
    color:white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 10px;
  }

  #mini-text {
    align-self: flex-end;
    font-size: 20px;
    color: lightgrey;
  }