* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .calc-main {
    width: 300px;
    height: 500px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .calc-screen {
    width: 300px;
    height: 75px;
    background-color: black;
    display: flex;
    align-self: flex-start;
    margin-top: 20px;
  }

  .calc-buttons {
    width: 300px;
    height: 350px;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
  }

  #ac, #del {
    grid-column: span 2;
  }